apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "crossview.fullname" . }}-config
  namespace: {{ .Values.global.namespace }}
  labels:
    {{- include "crossview.labels" . | nindent 4 }}
data:
  NODE_ENV: {{ .Values.env.NODE_ENV | quote }}
  PORT: {{ .Values.env.PORT | quote }}
  DB_HOST: {{ if .Values.env.DB_HOST }}{{ .Values.env.DB_HOST | quote }}{{ else }}{{ include "crossview.fullname" . }}-postgres{{ end }}
  DB_PORT: {{ .Values.env.DB_PORT | quote }}
  DB_NAME: {{ .Values.env.DB_NAME | quote }}
  DB_USER: {{ .Values.env.DB_USER | quote }}

